Source: php-zero-cache
Section: main
Priority: extra
Maintainer: Ilya Shpigor <petrsum@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: php-zero-cache
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PHP bindings for zero-cache system
